.history {
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--color-background-elements);
    border-radius: var(--main-component-border-radius);
    padding: 25px;
    margin-top: 20px;
    width: 100%;
}